{#
/**
 * @file
 * Default implementation of our hello world template.
 *
 * Available variables:
 * - message: The message value passed to our template.
 */
#}

<div id="restaurant-info-wrapper">
  {% if website %}
    <div class="website"><b>Hemsida:</b> <a href="{{ website }}">{{ website}}</a></div>
  {% endif %}

  {% if street_addres %}
  <div class="street_addres"><b>Adress:</b> {{ street_addres }}</div>
  {% endif %}

  {% if city %}
    <div class="city"><b>Stad:</b> {{ city }}</div>
  {% endif %}


  {% if postal_code %}
  <div class="postal_code"><b>Postkod:</b> {{ postal_code }}</div>
  {% endif %}
</div>
